@model Question

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Question</h1>
    <form action="" method="post">
        <input type="text" asp-for="id" value="@Model.id" readonly class="form-control mb-3">
        <input type="text" asp-for="question" value="@Model.question" class="form-control mb-3" required>
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>